# Soal 1 & 2
https://drive.google.com/file/d/1mT5bzY7dNmpMqH0x_0khU_hJG1PRTgBQ/view?usp=sharing

In [70]:
data = [
    {
        "id": 1,
        "name": "John Doe",
        "contacts": {
            "email": "john.doe@example.com",
            "phone": ["+1234567890", "+0987654321"],
            "address": {
                "home": {
                    "street": "123 Main St",
                    "city": "New York",
                    "zip": "10001"
                },
                "work": {
                    "street": "456 Corporate Blvd",
                    "city": "New York",
                    "zip": "10002"
                }
            }
        },
        "projects": [
            {
                "project_id": "P001",
                "title": "AI Research",
                "tasks": [
                    {"task_id": "T001", "description": "Data collection", "status": "completed"},
                    {"task_id": "T002", "description": "Model training", "status": "in-progress"}
                ]
            }
        ]
    },
    {
        "id": 2,
        "name": "Jane Smith",
        "contacts": {
            "email": "jane.smith@example.com",
            "phone": ["+1987654321"],
            "address": {
                "home": {
                    "street": "789 Sunset Blvd",
                    "city": "Los Angeles",
                    "zip": "90001"
                }
            }
        },
        "projects": [
            {
                "project_id": "P002",
                "title": "Web Development",
                "tasks": [
                    {"task_id": "T003", "description": "UI design", "status": "not started"},
                    {"task_id": "T004", "description": "Backend integration", "status": "in-progress"}
                ]
            }
        ]
    },
    {
        "id": 3,
        "name": "Michael Brown",
        "contacts": {
            "email": "michael.brown@example.com",
            "phone": [],
            "address": {
                "home": {
                    "street": "321 Ocean Drive",
                    "city": "Miami",
                    "zip": "33101"
                }
            }
        },
        "projects": []
    },
    {
        "id": 4,
        "name": "Emily Davis",
        "contacts": {
            "email": "emily.davis@example.com",
            "phone": ["+1231231234"],
            "address": {
                "home": {
                    "street": "444 Elm St",
                    "city": "Chicago",
                    "zip": "60601"
                },
                "vacation": {
                    "street": "555 Pine St",
                    "city": "Orlando",
                    "zip": "32801"
                }
            }
        },
        "projects": [
            {
                "project_id": "P003",
                "title": "Marketing Campaign",
                "tasks": [
                    {"task_id": "T005", "description": "Content creation", "status": "completed"},
                    {"task_id": "T006", "description": "Social media promotion", "status": "in-progress"}
                ]
            }
        ]
    },
    {
        "id": 5,
        "name": "David Wilson",
        "contacts": {
            "email": "david.wilson@example.com",
            "phone": ["+9999999999"],
            "address": {
                "home": {
                    "street": "987 Birch Lane",
                    "city": "Seattle",
                    "zip": "98101"
                }
            }
        },
        "projects": [
            {
                "project_id": "P004",
                "title": "Blockchain Development",
                "tasks": [
                    {"task_id": "T007", "description": "Smart contract design", "status": "completed"},
                    {"task_id": "T008", "description": "Token integration", "status": "in-progress"}
                ]
            }
        ]
    },
    {
        "id": 6,
        "name": "Sophia Martinez",
        "contacts": {
            "email": "sophia.martinez@example.com",
            "phone": ["+8888888888", "+7777777777"],
            "address": {
                "home": {
                    "street": "678 Maple Ave",
                    "city": "Austin",
                    "zip": "73301"
                }
            }
        },
        "projects": [
            {
                "project_id": "P005",
                "title": "Mobile App Development",
                "tasks": [
                    {"task_id": "T009", "description": "UI/UX Design", "status": "in-progress"},
                    {"task_id": "T010", "description": "API Integration", "status": "not started"}
                ]
            }
        ]
    },
    {
        "id": 7,
        "name": "Chris Johnson",
        "contacts": {
            "email": "chris.johnson@example.com",
            "phone": ["+6666666666"],
            "address": {
                "home": {
                    "street": "432 Spruce Rd",
                    "city": "Denver",
                    "zip": "80201"
                },
                "work": {
                    "street": "123 Innovation Way",
                    "city": "Denver",
                    "zip": "80202"
                }
            }
        },
        "projects": [
            {
                "project_id": "P006",
                "title": "Cybersecurity Initiative",
                "tasks": [
                    {"task_id": "T011", "description": "Risk Assessment", "status": "completed"},
                    {"task_id": "T012", "description": "Mitigation Planning", "status": "in-progress"}
                ]
            }
        ]
    },
    {
        "id": 8,
        "name": "Olivia Taylor",
        "contacts": {
            "email": "olivia.taylor@example.com",
            "phone": ["+5555555555"],
            "address": {
                "home": {
                    "street": "345 Ash St",
                    "city": "San Francisco",
                    "zip": "94101"
                }
            }
        },
        "projects": [
            {
                "project_id": "P007",
                "title": "Data Science Analysis",
                "tasks": [
                    {"task_id": "T013", "description": "Data Cleaning", "status": "completed"},
                    {"task_id": "T014", "description": "Model Evaluation", "status": "in-progress"}
                ]
            }
        ]
    },
    {
        "id": 9,
        "name": "William Anderson",
        "contacts": {
            "email": "william.anderson@example.com",
            "phone": ["+4444444444"],
            "address": {
                "home": {
                    "street": "555 Oak Lane",
                    "city": "Boston",
                    "zip": "02101"
                }
            }
        },
        "projects": []
    },
    {
        "id": 10,
        "name": "Amelia Thomas",
        "contacts": {
            "email": "amelia.thomas@example.com",
            "phone": ["+3333333333"],
            "address": {
                "home": {
                    "street": "876 Willow St",
                    "city": "Portland",
                    "zip": "97201"
                },
                "office": {
                    "street": "123 Greenway Blvd",
                    "city": "Portland",
                    "zip": "97202"
                }
            }
        },
        "projects": [
            {
                "project_id": "P008",
                "title": "Cloud Infrastructure Setup",
                "tasks": [
                    {"task_id": "T015", "description": "Server Provisioning", "status": "completed"},
                    {"task_id": "T016", "description": "Load Balancer Configuration", "status": "in-progress"}
                ]
            }
        ]
    }
]

Deskripsi Data\
Data di atas adalah sebuah list of dict yang berisi informasi tentang individu dan proyek-proyek
mereka. Setiap entri dalam list memiliki struktur sebagai berikut:

● ID: Angka unik untuk mengidentifikasi setiap individu.\
● Name: Nama individu.

● Projects: List proyek yang dikerjakan individu, dengan rincian:\
    ○ Project ID: ID unik untuk proyek.\
    ○ Title: Judul proyek.\
    ○ Tasks: List tugas dalam proyek, dengan setiap tugas memiliki:\
    ○ Task ID: ID unik untuk tugas.\
    ○ Description: Deskripsi tugas.\
    ○ Status: Status tugas (completed, in-progress, atau not started).

● Contacts: Informasi kontak yang berisi:\
    ○ Email: Alamat email individu.\
    ○ Phone: List nomor telepon individu.\
    ○ Address: Dictionary dengan alamat-alamat seperti home, work, atau vacation, yang mencakup street, city, dan zip.

## Soal 1
**Identifikasi Individu dengan Semua Proyek Selesai**

Buat fungsi bernama **find_individuals_with_all_completed_projects** yang
mengembalikan list nama individu yang semua proyeknya sudah selesai. Proyek
dianggap selesai jika semua tugas di dalamnya memiliki status "completed".

Contoh Output:\
['John Doe', 'Emily Davis']

In [71]:
def find_individuals_with_all_completed_projects(data):
    hasil = []

    for person in data:
        if person['projects']:
            #print(person['projects'])
            for project in person['projects']:
                if project['tasks']:
                    #print(project['tasks'])
                    flag = True
                    for task in project['tasks']:
                        if task['status'] != 'completed':
                            flag = False
                    if flag == True:
                        hasil.append(person['name'])
    
    return hasil

find_individuals_with_all_completed_projects(data)

[]

## Soal 2
**Gabungkan Tugas Berdasarkan Kota**

Buat fungsi bernama **combine_tasks_by_city** yang mengelompokkan semua tugas
berdasarkan kota dari alamat home individu. Setiap tugas harus menyertakan nama
individu, ID proyek, dan ID tugas. Hasilnya berupa dictionary dengan nama kota sebagai
kunci dan list tugas sebagai nilai.

Contoh Output:\
{\
"New York": [\
{"name": "John Doe", "project_id": "P001", "task_id": "T001"},\
{"name": "John Doe", "project_id": "P001", "task_id": "T002"}\
],\
"Los Angeles": [\
{"name": "Jane Smith", "project_id": "P002", "task_id": "T003"},\
{"name": "Jane Smith", "project_id": "P002", "task_id": "T004"}\
],\
...\
}

In [72]:
def combine_tasks_by_city(data):
    hasil = {f"{person['contacts']['address']['home']['city']}":[] for person in data }

    for person in data:
        kota = person['contacts']['address']['home']['city']
        if person['projects']:
            #print(person['projects'])
            for project in person['projects']:
                if project['tasks']:
                    #print(project['tasks'])
                    for task in project['tasks']:
                        #print(f"{kota}\n")
                        hasil[kota].append({"name": person['name'], "project_id": project['project_id'], "task_id": task['task_id']})

    return hasil

combine_tasks_by_city(data)

{'New York': [{'name': 'John Doe', 'project_id': 'P001', 'task_id': 'T001'},
  {'name': 'John Doe', 'project_id': 'P001', 'task_id': 'T002'}],
 'Los Angeles': [{'name': 'Jane Smith',
   'project_id': 'P002',
   'task_id': 'T003'},
  {'name': 'Jane Smith', 'project_id': 'P002', 'task_id': 'T004'}],
 'Miami': [],
 'Chicago': [{'name': 'Emily Davis', 'project_id': 'P003', 'task_id': 'T005'},
  {'name': 'Emily Davis', 'project_id': 'P003', 'task_id': 'T006'}],
 'Seattle': [{'name': 'David Wilson', 'project_id': 'P004', 'task_id': 'T007'},
  {'name': 'David Wilson', 'project_id': 'P004', 'task_id': 'T008'}],
 'Austin': [{'name': 'Sophia Martinez',
   'project_id': 'P005',
   'task_id': 'T009'},
  {'name': 'Sophia Martinez', 'project_id': 'P005', 'task_id': 'T010'}],
 'Denver': [{'name': 'Chris Johnson', 'project_id': 'P006', 'task_id': 'T011'},
  {'name': 'Chris Johnson', 'project_id': 'P006', 'task_id': 'T012'}],
 'San Francisco': [{'name': 'Olivia Taylor',
   'project_id': 'P007',
   'task_id': 'T013'},
  {'name': 'Olivia Taylor', 'project_id': 'P007', 'task_id': 'T014'}],
 'Boston': [],
 'Portland': [{'name': 'Amelia Thomas',
   'project_id': 'P008',
   'task_id': 'T015'},
  {'name': 'Amelia Thomas', 'project_id': 'P008', 'task_id': 'T016'}]}

# Soal 3 & 4
https://drive.google.com/file/d/1zMhZJn892A_wWLEibJ5uWW6t4Vl8bsMd/view?usp=sharing

## Note


Berikut adalah deskripsi untuk dataframe yang telah dibuat:\
● **ID**: Nomor unik untuk setiap individu dalam dataset, bernilai dari 1 hingga 20.\
● **Name**: Nama individu, terdiri dari kombinasi nama laki-laki dan perempuan.\
● **Age**: Usia individu dalam tahun, dengan rentang antara 21 hingga 36 tahun.\
● **City**: Kota tempat tinggal individu, mencakup berbagai kota besar di Amerika Serikat seperti New York, Los Angeles, Miami, dll.\
● **Salary**: Pendapatan tahunan individu dalam USD, dengan rentang antara $48,000 hingga $82,000.\
● **Department**: Divisi atau departemen tempat individu bekerja, seperti Engineering, Marketing, HR, Finance, dll.\
● **Experience** (Years): Jumlah tahun pengalaman kerja individu, dengan rentang antara 1 hingga 10 tahun.\
● **Performance** Score: Skor kinerja individu dalam skala 0-100, yang mencerminkan penilaian performa kerja mereka.\
● **Gender**: Jenis kelamin individu, dengan nilai "Male" (Laki-laki) atau "Female" (Perempuan).\
● **Remote Worker**: Status apakah individu bekerja secara remote atau tidak, dengan nilai True (bekerja remote) atau False (tidak bekerja remote).\

**Karakteristik Data**:\
● Dataset berisi 20 baris (individu) dan 10 kolom (atribut).\
● Dataset mencerminkan informasi demografis, pekerjaan, dan kinerja individu.\
● Kombinasi atribut memungkinkan eksplorasi data lebih lanjut, seperti analisis perbandingan gaji berdasarkan kota, hubungan antara pengalaman kerja dan skor kinerja, atau distribusi pekerja remote di berbagai departemen.\

**Hint**:\
● Anda harus membaca file dalam bentuk pandas dataframe.

In [73]:
import pandas as pd
df = pd.read_csv("D:/DANIs D/KULIAH/Semester 1/DDP/UAS/dataSoalDF.csv")
df

,ID,Name,Age,City,Salary,Department,Experience (Years),Performance Score,Gender,Remote Worker
0,1,John,25,New York,55000,Engineering,2,85,Male,True
1,2,Jane,30,Los Angeles,65000,Marketing,5,90,Female,False
2,3,Michael,22,Miami,48000,HR,1,78,Male,True
3,4,Emily,27,Chicago,72000,Finance,4,88,Female,False
4,5,David,35,Seattle,80000,IT,8,95,Male,True
5,6,Sophia,28,Austin,68000,Sales,3,89,Female,True
6,7,Chris,31,Denver,60000,Support,6,84,Male,False
7,8,Olivia,26,San Francisco,71000,Design,4,87,Female,True
8,9,William,29,Boston,59000,Operations,7,86,Male,False
9,10,Amelia,24,Portland,54000,Admin,2,80,Female,True
10,11,Daniel,33,Dallas,63000,Legal,6,92,Male,False
11,12,Hannah,21,San Diego,52000,Procurement,1,79,Female,True
12,13,Matthew,32,Houston,61000,Research,5,91,Male,False
13,14,Elizabeth,34,Philadelphia,70000,Compliance,8,94,Female,False
14,15,James,30,Phoenix,58000,Logistics,4,83,Male,True
15,16,Mia,23,Orlando,53000,Training,2,81,Female,True
16,17,Alexander,36,Atlanta,82000,Development,10,96,Male,True
17,18,Emma,29,Las Vegas,75000,Management,9,93,Female,False
18,19,Joshua,28,Detroit,64000,Analytics,6,82,Male,True
19,20,Isabella,25,San Jose,56000,Production,3,88,Female,False

## Soal 3

**Identifikasi Kandidat Pelatihan Manajemen**


Buatlah fungsi bernama *find_promotion_candidates* yang mengidentifikasi individu yang cocok untuk promosi berdasarkan kriteria berikut:
1. Pengalaman Kerja (Experience (Years)) harus kurang dari 3 tahun.
2. Skor Kinerja (Performance Score) harus di atas rata-rata skor kinerja dari semua individu.
3. Gaji (Salary) harus berada di kuartil bawah (25% terendah) dari semua data gaji.
4. Individu tersebut harus bekerja di departemen yang bukan "Admin" atau "Support".


Fungsi ini harus mengembalikan list berisi dictionary untuk setiap individu yang
memenuhi kriteria, dengan informasi berikut:\
● Nama\
● Departemen\
● Gaji\
● Skor Kinerja\
● Pengalaman Kerja

**Hints**:\
● Anda harus membaca file dalam bentuk pandas dataframe.\
● Gunakan metode statistik untuk menghitung rata-rata skor kinerja dan kuartil bawah untuk gaji.\
● Pastikan individu dari departemen "Admin" dan "Support" tidak termasuk.

**Contoh Output**:\
[\
{"Name": "Hannah", "Department": "Procurement", "Salary": 52000, "Performance Score": 89, "Experience (Years)": 1},\
{"Name": "Mia", "Department": "Training", "Salary": 53000, "Performance Score": 88, "Experience (Years)": 2},\
...\
]

In [74]:
def find_promotion_candidates(data):
    mean = data.describe()['Performance Score']['mean'] #menyimpan rataan dari skor kinerja semua individu
    Q1 = data.describe()['Salary']['25%'] #menyimpan kuartil satu dari varibael Gaji dari semua individu

    df1 = data[data['Experience (Years)'] < 3] #Pengalaman Kerja (Experience (Years)) harus kurang dari 3 tahun.
    df2 = df1[df1['Performance Score'] >  mean] #Skor Kinerja (Performance Score) harus di atas rata-rata skor kinerja dari semua individu.
    df3 = df2[df2['Salary'] < Q1] #Gaji (Salary) harus berada di kuartil bawah (25% terendah) dari semua data gaji.
    df4 = df3[(df3['Department'] != 'Admin') & (df3['Department'] != 'Support')] #Individu tersebut harus bekerja di departemen yang bukan "Admin" atau "Support".
    df5 = df4[['Name', 'Department', 'Salary','Performance Score', 'Experience (Years)']] # memilih kunci untuk dictionary

    hasil1 = df5.transpose()
    hasil2 = hasil1.to_dict()
    hasil3 = hasil2.values()
    hasil4 = list(hasil3)
    return hasil4

find_promotion_candidates(df)

[]

## Soal 4

**Identifikasi Individu Ideal untuk Promosi**


Buatlah fungsi bernama *find_promotion_candidates* yang mengidentifikasi individu yang cocok untuk promosi berdasarkan kriteria berikut:
1. Pengalaman Kerja (Experience (Years)) harus minimal 5 tahun.
2. Skor Kinerja (Performance Score) harus di atas 85.
3. Status Remote Worker (Remote Worker) harus False (tidak bekerja secara remote).
4. Gaji (Salary) saat ini harus kurang dari rata-rata gaji di departemennya.

Fungsi ini harus mengembalikan list berisi dictionary untuk setiap individu yang memenuhi kriteria, dengan informasi berikut:\
● Nama\
● Departemen\
● Gaji\
● Skor Kinerja\
● Pengalaman Kerja

**Hints**:\
● Anda harus membaca file dalam bentuk pandas dataframe.\
● Gunakan rata-rata gaji untuk setiap departemen sebagai pembanding.\
● Pastikan fungsi ini menangani logika yang kompleks dengan menggabungkan beberapa kolom dan kriteria.

**Contoh Output**:\
[\
{"Name": "Chris", "Department": "Support", "Salary": 60000, "Performance Score": 84, "Experience (Years)": 6},\
{"Name": "William", "Department": "Operations", "Salary": 59000, "Performance Score": 86, "Experience (Years)": 7},\
...\
]

In [75]:
def find_promotion_candidates(data):
    hasil = []

    def rataan_gaji_departemen(nama_departemen):
        df_departmen_gaji = data[['Department', 'Salary']]
        rata_gaji_departemen = df_departmen_gaji.groupby('Department').mean()
        rataan = rata_gaji_departemen.loc[nama_departemen]['Salary']
        return rataan

    df1 = df[df['Experience (Years)'] >= 5] #Pengalaman Kerja (Experience (Years)) harus minimal 5 tahun.
    df2 = df1[df1['Performance Score'] > 85] #Skor Kinerja (Performance Score) harus di atas 85.
    df3 = df2[df2['Remote Worker'] == False] #Status Remote Worker (Remote Worker) harus False (tidak bekerja secara remote).
    df3 #Gaji (Salary) saat ini harus kurang dari rata-rata gaji di departemennya.

    df4 = list(df3.transpose().to_dict().values())
    for i in df4:
        #print(i['Salary'], rataan_gaji_departemen(i['Department']))
        if i['Salary'] < rataan_gaji_departemen(i['Department']):
            hasil.append({"Name": i['Name'], "Department": i['Department'], "Salary": i["Salary"], "Performance Score": i['Performance Score'], "Experience (Years)": i['Performance Score']})

    return hasil

find_promotion_candidates(df)

[]

# Soal 5

**Sorting dengan Kunci Kustom**

Diberikan list tuple yang berisi nama dan nilai:\
students = [("Ali", 85), ("Budi", 92), ("Citra", 78), ("Dewi", 95), ("Eka", 88)]

Buatlah sebuah fungsi *sort_students* yang mengembalikan list yang diurutkan berdasarkan nilai secara **descending/ascending**.

**Contoh Penggunaan**:\
sort_students(students, ‘descending’)

**Output yang diharapkan**:\
[("Dewi", 95), ("Budi", 92), ("Eka", 88), ("Ali", 85), ("Citra", 78)]

In [76]:
students = [("Ali", 85), ("Budi", 92), ("Citra", 78), ("Dewi", 95), ("Eka", 88)]

def sort_students1(students, par):
    if par == 'ascending':
        return sorted(students, key=lambda x:x[1], reverse=False)
    if par == 'descending':
        return sorted(students, key=lambda x:x[1], reverse=True)

def sort_students2(students, par):
    for i in range(len(students)):
        for j in range(i):
            if par == 'ascending':
                if students[j][1] > students[j+1][1]:
                    students[j], students[j+1] =  students[j+1], students[j]
            if par == 'descending':
                if students[j][1] < students[j+1][1]:
                    students[j], students[j+1] =  students[j+1], students[j]
    return students

sort_students2(students, 'ascending')

[('Citra', 78), ('Ali', 85), ('Budi', 92), ('Eka', 88), ('Dewi', 95)]